.filterlabel{
  text-align: right;
  margin:2px 15px;
}
.ant-btn {
  margin-right: 8px;
}
.headerAuthority{
  width:100%;
}
.tableText {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
