@blueColor: #e5f0fa;
.questionLibMgr {
  .leftSelectType {
    :global {
      .ant-card-head {
        background: @blueColor;
      }
      .ant-card-head-title {
        padding: 11px 0;
      }
      .ant-card-body {
        height: 463px;
      }
      .ant-menu {
        border-right: none;
      }
      .ant-menu-item-selected {
        background: #fff;
        color: rgba(0, 0, 0, 0.65);
      }
      .ant-menu-item-selected:hover {
        color: #1890ff;
      }
    }
  }
  .questionContent {
    position: relative;
    //border: 1px solid #ddd;
    border-radius: 2px;
    margin-left: 16px;
    @diff : 30px;
    min-height : calc(~"75vh - @{diff}");
    .list {
      margin: 0 20px 5px;
      border: 1px solid #ddd;
      border-radius: 2px;
      .divider {
        border-bottom: 1px solid #ddd;
        margin: 5px 20px;
      }
      .editFunc {
        padding: 5px;
        .selectOption {
          .ant-form-item-control-wrapper {
            width: 100px;
          }
        }
      }
      .addOption {
        padding-left: 32px;
        visibility: hidden;
        i {
          font-size: 18px;
          margin-right:5px;
        }
        i:hover {
          color: #1890ff;
        }
      }
      .span {
        position: relative;
        top: -12px;
        color: #e4393c;
        margin-left: 40px
      }
      .blank-btn{
        margin-left: 40px;
      }
    }
    .list:hover {
      border-color: rgb(253, 181, 83);
    }
    .list:hover .addOption {
      visibility: visible;
    }
    .addBtn {
      margin: 10px;
      width: 100%;
      text-align: center;
    }
    .emptyContent {
      font-size: 14px ;
      text-align: center;
      margin-top: 100px;
    }
  }
}
// 弹框样式
.optionsAdd {
  .ant-form-item {
    margin-bottom: 5px;
  }
  .ant-card-head {
    min-height: 26px;
    padding: 0 12px;
  }
  .ant-card-head-title {
    font-size: 12px;
    padding: 6px 0;
  }
  .ant-card-body {
    padding: 8px 24px;
  }
  .leftBtn {
    .ant-btn {
      width: 70px;
      padding: 0 14px;
      font-size: 12px;
      height: 24px;
      margin-bottom: 5px;
    }
  }
  span {
    margin-left: 4px;
  }
}

// 题目管理页
.listStyle {
 .titleStyle {
   padding: 10px 0;
 }
}

// 分页栏居中
.ant-pagination {
  text-align: center;
}