<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.nps.business.surveyResultMgr.mapper.SurveyNpsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ztesoft.nps.business.surveyResultMgr.model.SurveyNpsInfo" >
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="qstnaire_id" property="qstnaireId" jdbcType="VARCHAR" />
    <result column="nps_question_id" property="npsQuestionId" jdbcType="VARCHAR" />
    <result column="nps_ratio" property="npsRatio" jdbcType="DECIMAL" />
    <result column="nps_count1" property="npsCount1" jdbcType="BIGINT" />
    <result column="nps_ratio1" property="npsRatio1" jdbcType="DECIMAL" />
    <result column="nps_count2" property="npsCount2" jdbcType="BIGINT" />
    <result column="nps_ratio2" property="npsRatio2" jdbcType="DECIMAL" />
    <result column="nps_count3" property="npsCount3" jdbcType="BIGINT" />
    <result column="nps_ratio3" property="npsRatio3" jdbcType="DECIMAL" />
    <result column="task_type" property="taskType" jdbcType="DECIMAL" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    task_id, task_name, qstnaire_id, nps_question_id, nps_ratio, nps_count1, nps_ratio1, 
    nps_count2, nps_ratio2, nps_count3, nps_ratio3, task_type, create_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ztesoft.nps.business.surveyResultMgr.model.SurveyNpsInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from survey_nps_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ztesoft.nps.business.surveyResultMgr.model.SurveyNpsInfoExample" >
    delete from survey_nps_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ztesoft.nps.business.surveyResultMgr.model.SurveyNpsInfo" >
    insert into survey_nps_info (task_id, task_name, qstnaire_id, 
      nps_question_id, nps_ratio, nps_count1, 
      nps_ratio1, nps_count2, nps_ratio2, 
      nps_count3, nps_ratio3, task_type, 
      create_date)
    values (#{taskId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{qstnaireId,jdbcType=VARCHAR}, 
      #{npsQuestionId,jdbcType=VARCHAR}, #{npsRatio,jdbcType=DECIMAL}, #{npsCount1,jdbcType=BIGINT}, 
      #{npsRatio1,jdbcType=DECIMAL}, #{npsCount2,jdbcType=BIGINT}, #{npsRatio2,jdbcType=DECIMAL}, 
      #{npsCount3,jdbcType=BIGINT}, #{npsRatio3,jdbcType=DECIMAL}, #{taskType,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.ztesoft.nps.business.surveyResultMgr.model.SurveyNpsInfo" >
    insert into survey_nps_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="qstnaireId != null" >
        qstnaire_id,
      </if>
      <if test="npsQuestionId != null" >
        nps_question_id,
      </if>
      <if test="npsRatio != null" >
        nps_ratio,
      </if>
      <if test="npsCount1 != null" >
        nps_count1,
      </if>
      <if test="npsRatio1 != null" >
        nps_ratio1,
      </if>
      <if test="npsCount2 != null" >
        nps_count2,
      </if>
      <if test="npsRatio2 != null" >
        nps_ratio2,
      </if>
      <if test="npsCount3 != null" >
        nps_count3,
      </if>
      <if test="npsRatio3 != null" >
        nps_ratio3,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="qstnaireId != null" >
        #{qstnaireId,jdbcType=VARCHAR},
      </if>
      <if test="npsQuestionId != null" >
        #{npsQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="npsRatio != null" >
        #{npsRatio,jdbcType=DECIMAL},
      </if>
      <if test="npsCount1 != null" >
        #{npsCount1,jdbcType=BIGINT},
      </if>
      <if test="npsRatio1 != null" >
        #{npsRatio1,jdbcType=DECIMAL},
      </if>
      <if test="npsCount2 != null" >
        #{npsCount2,jdbcType=BIGINT},
      </if>
      <if test="npsRatio2 != null" >
        #{npsRatio2,jdbcType=DECIMAL},
      </if>
      <if test="npsCount3 != null" >
        #{npsCount3,jdbcType=BIGINT},
      </if>
      <if test="npsRatio3 != null" >
        #{npsRatio3,jdbcType=DECIMAL},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ztesoft.nps.business.surveyResultMgr.model.SurveyNpsInfoExample" resultType="java.lang.Integer" >
    select count(*) from survey_nps_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update survey_nps_info
    <set >
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null" >
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.qstnaireId != null" >
        qstnaire_id = #{record.qstnaireId,jdbcType=VARCHAR},
      </if>
      <if test="record.npsQuestionId != null" >
        nps_question_id = #{record.npsQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="record.npsRatio != null" >
        nps_ratio = #{record.npsRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.npsCount1 != null" >
        nps_count1 = #{record.npsCount1,jdbcType=BIGINT},
      </if>
      <if test="record.npsRatio1 != null" >
        nps_ratio1 = #{record.npsRatio1,jdbcType=DECIMAL},
      </if>
      <if test="record.npsCount2 != null" >
        nps_count2 = #{record.npsCount2,jdbcType=BIGINT},
      </if>
      <if test="record.npsRatio2 != null" >
        nps_ratio2 = #{record.npsRatio2,jdbcType=DECIMAL},
      </if>
      <if test="record.npsCount3 != null" >
        nps_count3 = #{record.npsCount3,jdbcType=BIGINT},
      </if>
      <if test="record.npsRatio3 != null" >
        nps_ratio3 = #{record.npsRatio3,jdbcType=DECIMAL},
      </if>
      <if test="record.taskType != null" >
        task_type = #{record.taskType,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update survey_nps_info
    set task_id = #{record.taskId,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      qstnaire_id = #{record.qstnaireId,jdbcType=VARCHAR},
      nps_question_id = #{record.npsQuestionId,jdbcType=VARCHAR},
      nps_ratio = #{record.npsRatio,jdbcType=DECIMAL},
      nps_count1 = #{record.npsCount1,jdbcType=BIGINT},
      nps_ratio1 = #{record.npsRatio1,jdbcType=DECIMAL},
      nps_count2 = #{record.npsCount2,jdbcType=BIGINT},
      nps_ratio2 = #{record.npsRatio2,jdbcType=DECIMAL},
      nps_count3 = #{record.npsCount3,jdbcType=BIGINT},
      nps_ratio3 = #{record.npsRatio3,jdbcType=DECIMAL},
      task_type = #{record.taskType,jdbcType=DECIMAL},
      create_date = #{record.createDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>