<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.nps.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="Permission" >
    <id column="p_id" property="id" />
    <result column="p_name" property="name" />
    <result column="p_type" property="type" />
    <result column="p_url" property="url" />
    <result column="p_app_type" property="appType" />
    <result column="p_description" property="description" />
    <result column="p_parent_id" property="parentId" />
    <result column="p_status" property="status" />
    <result column="p_created_by" property="createdBy" />
    <result column="p_created_at" property="createdAt" />
    <result column="p_modified_by" property="modifiedBy" />
    <result column="p_modified_at" property="modifiedAt" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    p.id p_id, p.name p_name, p.type p_type, p.url p_url, 
    p.app_type p_app_type, p.description p_description, 
    p.parent_id p_parent_id, p.status p_status, 
    p.created_by p_created_by, p.created_at p_created_at, 
    p.modified_by p_modified_by, p.modified_at p_modified_at
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from permissions p
    where id = #{id}
  </select>
  
  <select id="findByCondition" resultMap="BaseResultMap" parameterType="PermissionQuery" >
    select 
    <include refid="Base_Column_List" />
    from permissions p
    <where>
    	<if test="name != null and name != ''">
    		and name like concat('%', #{name}, '%')
    	</if>
    	<if test="type != null">
    		and type = #{type} 
    	</if>
    	<if test="appType != null">
    		and app_type = #{appType} 
    	</if>
    	<if test="parentId != null">
    		and parent_id = #{parentId} 
    	</if>
    </where>
  </select>
  
  <insert id="add" parameterType="Permission" useGeneratedKeys="true" keyProperty="id">
    insert into permissions 
    <trim prefix="(" suffix=")" suffixOverrides=",">
    	<if test="name != null">
    		name,
    	</if>
    	<if test="type != null">
    		type,
    	</if>
    	<if test="url != null">
    		url,
    	</if>
    	<if test="appType != null">
    		app_type,
    	</if>
    	<if test="parentId != null">
    		parent_id,
    	</if>
    	<if test="status != null">
    		status,
    	</if>
    	<if test="description != null">
    		description,
    	</if>
    	<if test="createdBy != null">
    		created_by,
    	</if>
    	<if test="modifiedBy != null">
    		modified_by,
    	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    	<if test="name != null">
    		#{name},
    	</if>
    	<if test="type != null">
    		#{type},
    	</if>
    	<if test="url != null">
    		#{url},
    	</if>
    	<if test="appType != null">
    		#{appType},
    	</if>
    	<if test="parentId != null">
    		#{parentId},
    	</if>
    	<if test="status != null">
    		#{status},
    	</if>
    	<if test="description != null">
    		#{description},
    	</if>
    	<if test="createdBy != null">
    		#{createdBy},
    	</if>
    	<if test="modifiedBy != null">
    		#{modifiedBy},
    	</if>
    </trim>
  </insert>
  
  <update id="update" parameterType="Permission" >
    update permissions
    <set>
		<if test="name != null" >
			name = #{name},
		</if>
		<if test="type != null" >
			type = #{type},
		</if>
		<if test="url != null" >
			url = #{url},
		</if>
		<if test="appType != null" >
			app_type = #{appType},
		</if>
		<if test="parentId != null" >
			parent_id = #{parentId},
		</if>
		<if test="status != null" >
			status = #{status},
		</if>
		<if test="description != null" >
			description = #{description},
		</if>
		<if test="modifiedBy != null" >
			modified_by = #{modifiedBy},
		</if>
    </set>
    where id = #{id}
  </update>
  
  <select id="findByRoleId" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from permissions p inner join role_permission rp 
    on p.id = rp.permission_id
    where rp.role_id = #{id}
  </select>
  
  <select id="findByUserId" resultMap="BaseResultMap" parameterType="Long" >
    select <include refid="Base_Column_List" /> 
    from user_role ur 
	inner join role_permission rp on ur.role_id = rp.role_id
	inner join permissions p on rp.permission_id = p.id
	where ur.user_id = #{id}
  </select>

</mapper>