<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.nps.mapper.RegionMapper" >
  <resultMap id="BaseResultMap" type="Region" >
    <id column="id" property="id" />
    <result column="area_id" property="areaId" />
    <result column="name" property="name" />
    <result column="type" property="type" />
    <result column="code" property="code" />
    <result column="sequence" property="sequence" />
    <result column="parent_id" property="parentId" />
    <result column="created_by" property="createdBy" />
    <result column="created_at" property="createdAt" />
    <result column="modified_by" property="modifiedBy" />
    <result column="modified_at" property="modifiedAt" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, area_id, name, type, code, sequence, parent_id, created_by, created_at, modified_by, modified_at
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from regions
    where id = #{id}
  </select>
  
  <select id="findByAreaId" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from regions
    where area_id = #{areaId}
  </select>
  
  <select id="findByParentId" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from regions 
    where parent_id = #{id}
  </select>
  
  <delete id="delete" parameterType="Region" >
    delete from regions 
    where id = #{id}
  </delete>
  
  <delete id="deleteById" parameterType="Long" >
    delete from regions
    where id = #{id}
  </delete>
  
  <insert id="add" parameterType="Region" useGeneratedKeys="true" keyProperty="id">
    insert into regions 
    <trim prefix="(" suffix=")" suffixOverrides=",">
    	<if test="areaId != null">
    		area_id,
    	</if>
    	<if test="name != null">
    		name,
    	</if>
    	<if test="type != null">
    		type,
    	</if>
    	<if test="code != null">
    		code,
    	</if>
    	<if test="sequence != null">
    		sequence,
    	</if>
    	<if test="parentId != null">
    		parent_id,
    	</if>
    	<if test="createdBy != null">
    		created_by,
    	</if>
    	<if test="modifiedBy != null">
    		modified_by,
    	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    	<if test="areaId != null">
    		#{areaId},
    	</if>
    	<if test="name != null">
    		#{name},
    	</if>
    	<if test="type != null">
    		#{type},
    	</if>
    	<if test="code != null">
    		#{code},
    	</if>
    	<if test="sequence != null">
    		#{sequence},
    	</if>
    	<if test="parentId != null">
    		#{parent_id},
    	</if>
    	<if test="createdBy != null">
    		#{createdBy},
    	</if>
    	<if test="modifiedBy != null">
    		#{modifiedBy},
    	</if>
    </trim>
  </insert>

  <update id="update" parameterType="Region" >
    update regions
    <set>
		<if test="areaId != null" >
			area_id = #{areaId},
		</if>
		<if test="name != null" >
			name = #{name},
		</if>
		<if test="type != null" >
			type = #{type},
		</if>
		<if test="sequence != null" >
			sequence = #{sequence},
		</if>
		<if test="code != null" >
			code = #{code},
		</if>
		<if test="modifiedBy != null" >
			modified_by = #{modifiedBy},
		</if>
    </set>
    where id = #{id}
  </update>
  
  <select id="findByCondition" resultMap="BaseResultMap" parameterType="RegionQuery">
    select 
    <include refid="Base_Column_List" />
    from regions
    <where>
    	<if test="areaId != null">
    		and area_id = #{areaId} 
    	</if>
    	<if test="name != null and name != ''">
    		and name like concat('%', #{name}, '%')
    	</if>
    	<if test="type != null">
    		and type = #{type} 
    	</if>
    	<if test="code != null and code != ''">
    		and code like concat('%', #{code}, '%')
    	</if>
    	<if test="parentId != null">
    		and parent_id = #{parentId} 
    	</if>
    </where>
  </select>

</mapper>