<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.nps.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="User" >
    <id column="u_id" property="id" />
    <result column="u_no" property="no" />
    <result column="u_account" property="account" />
    <result column="u_name" property="name" />
    <result column="u_sex" property="sex" />
    <result column="u_cellphone" property="cellphone" />
    <result column="u_email" property="email" />
    <result column="u_identity_card" property="identityCard" />
    <result column="u_status" property="status" />
    <result column="u_remark" property="remark" />
    <result column="u_password" property="password" />
    <result column="u_salt" property="salt" />
    <result column="u_dept_id" property="deptId" />
    <result column="u_created_by" property="createdBy" />
    <result column="u_created_at" property="createdAt" />
    <result column="u_modified_by" property="modifiedBy" />
    <result column="u_modified_at" property="modifiedAt" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    u.id u_id, u.no u_no, u.account u_account, u.name u_name, u.sex u_sex, 
    u.cellphone u_cellphone, u.email u_email, u.identity_card u_identity_card, 
    u.status u_status, u.remark u_remark, u.password u_password, u.salt u_salt, 
    u.dept_id u_dept_id, u.created_by u_created_by, u.created_at u_created_at, 
    u.modified_by u_modified_by, u.modified_at u_modified_at
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from users u
    where id = #{id}
  </select>
  
  <select id="findByDeptId" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from users u
    where dept_id = #{deptId}
  </select>
  
  <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    insert into users 
    <trim prefix="(" suffix=")" suffixOverrides=",">
    	<if test="no != null">
    		no,
    	</if>
    	<if test="account != null">
    		account,
    	</if>
    	<if test="name != null">
    		name,
    	</if>
    	<if test="sex != null">
    		sex,
    	</if>
    	<if test="cellphone != null">
    		cellphone,
    	</if>
    	<if test="email != null">
    		email,
    	</if>
    	<if test="identityCard != null">
    		identity_card,
    	</if>
    	<if test="status != null">
    		status,
    	</if>
    	<if test="remark != null">
    		remark,
    	</if>
    	<if test="password != null">
    		password,
    	</if>
    	<if test="salt != null">
    		salt,
    	</if>
    	<if test="deptId != null">
    		dept_id,
    	</if>
    	<if test="createdBy != null">
    		created_by,
    	</if>
    	<if test="modifiedBy != null">
    		modified_by,
    	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    	<if test="no != null">
    		#{no},
    	</if>
    	<if test="account != null">
    		#{account},
    	</if>
    	<if test="name != null">
    		#{name},
    	</if>
    	<if test="sex != null">
    		#{sex},
    	</if>
    	<if test="cellphone != null">
    		#{cellphone},
    	</if>
    	<if test="email != null">
    		#{email},
    	</if>
    	<if test="identityCard != null">
    		#{identityCard},
    	</if>
    	<if test="status != null">
    		#{status},
    	</if>
    	<if test="remark != null">
    		#{remark},
    	</if>
    	<if test="password != null">
    		#{password},
    	</if>
    	<if test="salt != null">
    		#{salt},
    	</if>
    	<if test="deptId != null">
    		#{deptId},
    	</if>
    	<if test="createdBy != null">
    		#{createdBy},
    	</if>
    	<if test="modifiedBy != null">
    		#{modifiedBy},
    	</if>
    </trim>
  </insert>
  
  <select id="findByAccount" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from users u
    where account = #{account}
  </select>
  
  <select id="findByNo" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from users u
    where no = #{no}
  </select>
  
  <update id="update" parameterType="User" >
    update users
    <set>
    	<if test="no != null" >
			no = #{no},
		</if>
		<if test="account != null" >
			account = #{account},
		</if>
		<if test="name != null" >
			name = #{name},
		</if>
		<if test="sex != null" >
			sex = #{sex},
		</if>
		<if test="cellphone != null" >
			cellphone = #{cellphone},
		</if>
		<if test="email != null" >
			email = #{email},
		</if>
		<if test="identityCard != null" >
			identity_card = #{identityCard},
		</if>
		<if test="status != null" >
			status = #{status},
		</if>
		<if test="password != null" >
			password = #{password},
		</if>
		<if test="salt != null" >
			salt = #{salt},
		</if>
		<if test="deptId != null" >
			dept_id = #{deptId},
		</if>
		<if test="remark != null" >
			remark = #{remark},
		</if>
		<if test="modifiedBy != null" >
			modified_by = #{modifiedBy},
		</if>
	  </set>
	  where id = #{id}
	</update>
	
	<select id="findByCondition" resultMap="BaseResultMap" parameterType="UserQuery" >
    select 
    <include refid="Base_Column_List" />
    from users u
    <where>
    	<if test="no != null and no != ''">
    		and no like concat('%', #{no}, '%')
    	</if>
    	<if test="account != null and account != ''">
    		and account like concat('%', #{account}, '%')
    	</if>
    	<if test="name != null and name != ''">
    		and name like concat('%', #{name}, '%')
    	</if>
    	<if test="sex != null and sex != ''">
    		and sex = #{sex} 
    	</if>
    	<if test="cellphone != null and cellphone != ''">
    		and cellphone like concat('%', #{cellphone}, '%') 
    	</if>
    	<if test="email != null and email != ''">
    		and email like concat('%', #{email}, '%') 
    	</if>
    	<if test="identityCard != null and identityCard != ''">
    		and identity_card like concat('%', #{identityCard}, '%') 
    	</if>
    	<if test="status != null">
    		and status = #{status} 
    	</if>
    	<if test="deptId != null">
    		and dept_id = #{deptId} 
    	</if>
    </where>
  </select>
  
  <select id="findByRoleId" resultMap="BaseResultMap" parameterType="RoleUserQuery" >
    select 
    <include refid="Base_Column_List" />
    from users u inner join user_role ur 
    on u.id = ur.user_id
    <where>
    	<if test="roleId != null">
    		ur.role_id = #{roleId} 
    	</if>
    	<if test="username != null and username != ''">
    		and u.name like concat('%', #{username}, '%')
    	</if>
    	<if test="deptName != null and deptName != ''">
    		and u.dept_id in (select dept.id from departments dept where dept.name like concat('%', #{deptName}, '%')) 
    	</if>
    </where>
  </select>

</mapper>