<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.nps.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="User" >
    <id column="id" property="id" />
    <result column="no" property="no" />
    <result column="account" property="account" />
    <result column="name" property="name" />
    <result column="sex" property="sex" />
    <result column="cellphone" property="cellphone" />
    <result column="email" property="email" />
    <result column="identity_card" property="identityCard" />
    <result column="status" property="status" />
    <result column="remark" property="remark" />
    <result column="password" property="password" />
    <result column="salt" property="salt" />
    <result column="dept_id" property="deptId" />
    <result column="created_by" property="createdBy" />
    <result column="created_at" property="createdAt" />
    <result column="modified_by" property="modifiedBy" />
    <result column="modified_at" property="modifiedAt" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, no, account, name, sex, cellphone, email, identity_card, status, remark, password, salt, dept_id, created_by, created_at, modified_by, modified_at
  </sql>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id}
  </select>
  
  <select id="findByDeptId" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from users
    where dept_id = #{deptId}
  </select>
  
  <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    insert into users 
    <trim prefix="(" suffix=")" suffixOverrides=",">
    	<if test="no != null">
    		no,
    	</if>
    	<if test="account != null">
    		account,
    	</if>
    	<if test="name != null">
    		name,
    	</if>
    	<if test="sex != null">
    		sex,
    	</if>
    	<if test="cellphone != null">
    		cellphone,
    	</if>
    	<if test="email != null">
    		email,
    	</if>
    	<if test="identityCard != null">
    		identity_card,
    	</if>
    	<if test="status != null">
    		status,
    	</if>
    	<if test="remark != null">
    		remark,
    	</if>
    	<if test="password != null">
    		password,
    	</if>
    	<if test="salt != null">
    		salt,
    	</if>
    	<if test="deptId != null">
    		dept_id,
    	</if>
    	<if test="createdBy != null">
    		created_by,
    	</if>
    	<if test="modifiedBy != null">
    		modified_by,
    	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    	<if test="no != null">
    		#{no},
    	</if>
    	<if test="account != null">
    		#{account},
    	</if>
    	<if test="name != null">
    		#{name},
    	</if>
    	<if test="sex != null">
    		#{sex},
    	</if>
    	<if test="cellphone != null">
    		#{cellphone},
    	</if>
    	<if test="email != null">
    		#{email},
    	</if>
    	<if test="identityCard != null">
    		#{identityCard},
    	</if>
    	<if test="status != null">
    		#{status},
    	</if>
    	<if test="remark != null">
    		#{remark},
    	</if>
    	<if test="password != null">
    		#{password},
    	</if>
    	<if test="salt != null">
    		#{salt},
    	</if>
    	<if test="deptId != null">
    		#{deptId},
    	</if>
    	<if test="createdBy != null">
    		#{createdBy},
    	</if>
    	<if test="modifiedBy != null">
    		#{modifiedBy},
    	</if>
    </trim>
  </insert>
  
  <select id="findByAccount" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where account = #{account}
  </select>
  
  <select id="findByNo" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where no = #{no}
  </select>
  
  <update id="update" parameterType="User" >
    update users
    <set>
    	<if test="no != null" >
			no = #{no},
		</if>
		<if test="account != null" >
			account = #{account},
		</if>
		<if test="name != null" >
			name = #{name},
		</if>
		<if test="sex != null" >
			sex = #{sex},
		</if>
		<if test="cellphone != null" >
			cellphone = #{cellphone},
		</if>
		<if test="email != null" >
			email = #{email},
		</if>
		<if test="identityCard != null" >
			identity_card = #{identityCard},
		</if>
		<if test="status != null" >
			status = #{status},
		</if>
		<if test="password != null" >
			password = #{password},
		</if>
		<if test="salt != null" >
			salt = #{salt},
		</if>
		<if test="deptId != null" >
			dept_id = #{deptId},
		</if>
		<if test="remark != null" >
			remark = #{remark},
		</if>
		<if test="modifiedBy != null" >
			modified_by = #{modifiedBy},
		</if>
	</set>
	where id = #{id}
	</update>

</mapper>